@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/OpenSans-Regular.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    src: url('../fonts/OpenSans-Bold.ttf') format(truetype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
    src: url('../fonts/OpenSans-Light.ttf') format(truetype);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.ttf');
    src: url('../fonts/OpenSans-Italic.ttf') format(truetype);
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    src: url('../fonts/OpenSans-SemiBold.ttf') format(truetype);
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeueRegular.ttf');
    src: url('../fonts/bebas/BebasNeueRegular.ttf') format(truetype),
         url('../fonts/bebas/BebasNeueRegular.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeueBold.ttf');
    src: url('../fonts/bebas/BebasNeueBold.ttf') format(truetype),
         url('../fonts/bebas/BebasNeueBold.otf') format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'CyrillicBrush';
    src: url('../fonts/CyrillicBrushMedium.ttf');
    src: url('../fonts/CyrillicBrushMedium.ttf') format(truetype);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Medium.ttf');
    src: url('../fonts/oswald/Oswald-Medium.ttf') format(truetype);
    font-style: normal;
    font-weight: 500;
}